// colors
$primary-color: #76c045;
$secondary-color: #63a835;
$green-color: #017366;
$text-color: #606164;
$background-light: #f8f9fa;
$light-color: #f8f9fa;
$white-color: #fff;
$second-white: #f5f5f5;
$border-gray: #b4cac333;

// fonts
$font-primary: "TheSansArabic_SemiLight", sans-serif;
$font-bold: "TheSansArabic_SemiBold";
$font-light: "TheSansArabic_light";
