@font-face {
  font-family: "TheSansArabic_bold";
  src: url("/fonts/TheSansArabic-Bold.otf") format("opentype");
}
@font-face {
  font-family: "TheSansArabic_SemiBold";
  src: url("/fonts/TheSansArabic-SemiBold.otf") format("opentype");
}
@font-face {
  font-family: "TheSansArabic_light";
  src: url("/fonts/TheSansArabic-Light.otf") format("opentype");
}
@font-face {
  font-family: "TheSansArabic_Plain";
  src: url("/fonts/TheSansArabic-Plain\ 3.otf") format("opentype");
}
@font-face {
  font-family: "TheSansArabic_SemiLight";
  src: url("/fonts/TheSansArabic-SemiLight.otf") format("opentype");
}
