@use "../abstracts/variables" as *;
.dropdown-menu {
  border: none;
}

html:lang(ar) .dropdown-menu[data-bs-popper] {
  left: auto;
  right: 0 !important;
  text-align: right;
}
html:lang(ar) .dropdown-item i {
  margin-right: 0;
  margin-left: 6px;
  transform: rotate(180deg);
}

.dropdown-item {
  color: $text-color;
  &.active,
  &:hover {
    background-color: $background-light;
    color: $text-color;
  }
  i {
    color: $green-color;
    margin-right: 6px;
  }
}
